<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List with Categories</title>
    <style>
    </style>
</head>

<body>
    <div class="todo-container">
        <h2>Todo List</h2>
        <a href="/todos/new">カテゴリー追加</a>
        <ul>
            <% todos.forEach(function(todo) { %>
                <li>
                    <p><strong>User:</strong>
                        <%= todo.user_name %>
                    </p>
                    <p><strong>Task:</strong>
                        <%= todo.todo_title %>
                    </p>
                    <p><strong>Categories:</strong>
                        <% var categories=todo.category_titles.split(';'); categories.forEach(function(category) { var
                            parts=category.split(':'); var categoryId=parts[0]; var categoryTitle=parts[1]; %>
                            <a href="/categories/<%= categoryId %>">
                                <%= categoryTitle %>
                            </a>
                            <% if (categories.indexOf(category) < categories.length - 1) { %>, <% } %>
                                    <% }); %>
                    </p>

                    <p><strong>Created At:</strong>
                        <%= new Date(todo.todo_created_at).toLocaleString() %>
                    </p>
                </li>
                <% }); %>
        </ul>
    </div>
</body>

</html>